@model AllBooksQueryModel
@{
    ViewBag.Title = "All Books";
}

<h1 class="text-center mb-5">Browse Books</h1>

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-3 mt-0">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control">
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-4">
        <div class="card-deck ">
            @foreach (var book in Model.Books)
            {
                <div class="card" style="width: 50rem;">
                    <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                    </div>
                    <div class="card-body">
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning mb-5">Edit</a>
                            <form method="post">
                                <button id="deleteItem" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" onclick="return confirm('Are you sure you want to delete this book?');" class="btn btn-danger mb-5">Delete</button>
                            </form>
                        }
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="card-link">Details</a>
                        <form method="post">
                            <button asp-route-id="@book.Id" asp-controller="Book" asp-action="AddToMyBookList" type="submit" class="btn btn-primary">Add to My Books </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalBooks / AllBooksQueryModel.BooksPerPage);
}

<div class="row mb-5 mt-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Book"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-searchTerm="@Model.SearchTerm">Previous</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Books.Any();
    }
    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Book"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchTerm="@Model.SearchTerm">Next</a>
    </div>
</div>
