@model MyBooksViewModel
@{
    ViewBag.Title = "My Book List";
}

<h1 class="text-center" mb-5>Welcome to your book list, @Model.FisrtName!</h1>

@if (!Model.Books.Any())
{
    <h2 class="text-center">You do not have any books yet.</h2>
}

<br />

<div class="row">
    <div class="card-deck justify-content-center">
        @foreach (var book in Model.Books)
        {
            <div class="card col-md-3">
                <img class="card-img-top" src="@book.Image" alt="@book.Title">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <button asp-controller="Book" asp-action="RemoveFromBookList" asp-route-id="@book.Id" class="btn btn-danger btn-sm btn-block mb-1">Remove</button>
                    </form>
                    <form>
                        <button asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary btn-sm btn-block mb-1 ">Details</button>
                    </form>                 
                    <form method="get">
                        <button asp-route-id="@book.Id" asp-controller="Book" asp-action="Review" type="submit" class="btn btn-primary btn-sm btn-block mb-1">Leave a Review </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
    previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalBooks / MyBooksViewModel.BooksPerPage);
    }

    <div class="row mb-5 mt-5">
    <div class="col-md-6">
    <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
    asp-controller="User"
    asp-action="MyBooks"
    asp-route-currentPage="@previousPage">Previous</a>
    </div>

    @{
    var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
    !Model.Books.Any();
    }
    <div class="col-md-6">
    <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
    asp-controller="User"
    asp-action="MyBooks"
    asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
    </div>
    </div>
